* {
  box-sizing: border-box; 
}

html, body {
  border: none;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

html,
body,
td,
input,
select,
textarea,
button {
  font-size: 100%;
  color: #333;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}
.flex--wrap {
  flex-wrap: wrap;
}
.flex--justify-center {
  justify-content: center;
}
.flex--align-center {
  align-items: center;
}
.flex__half {
  flex-basis: 50%;
}

#error {
  display: none;
}
.error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  background: #f44336;
  color: #fff;
}

.color-error {
  color: #f44336;
}
.color-red {
  color: #f44336;
}

.boxed {
  max-width: 1600px;
  margin: auto;
}
.hidden,
.showJQlink {
  display: none;
}
.text-center {
  text-align: center;
}
.pointer {
  cursor: pointer;
}
.waiting {
  padding: 5em;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  font-size: 1.2em;
}

.messages {
  color: #f44336;
}
.board {
  position: relative;
  display: flex;
  min-height: 100vh;
}
.board-command {
  cursor: pointer;
}
.board-command:hover {
  text-decoration: underline;
}

.map-container {
  flex-basis: 70%;
  flex-grow: 1;
  position: relative;
}
.sidebar {
  flex-basis: 30%;
  flex-grow: 1;
  background: #f9f9f9;
}
.sidebar__section {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #eeeeee;
}

.resources {
  display: flex;
  flex-wrap: wrap;
}
.resources__image {
  max-width: 32px;
  max-height: 32px;
}
.resources__container {
  text-align: center;
  display: none;
}

.info-building__image {
  max-width: 128px;
  max-height: 128px;
}
.info-resource__image {
  max-width: 24px;
  max-height: 24px;
}

.tools{
  display: flex;
  flex-wrap: wrap;
}
.tool {
  width: 48px;
  height: 48px;
  padding: 7px;
  margin: 3px;
  border: 3px solid #ccc;
  border-radius: 2px;
  background-color: #eeeeee;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
}
.tool--selected {
  /*background-color: #2196f3;*/
  border-color: #1976d2;
  color: white;
}
.tool--road {
  background-image: url('../images/board/tools/tool-road.png');
}
.tool--view {
  background-image: url('../images/board/tools/tool-view.png');
}
.tool--remove {
  background-image: url('../images/board/tools/tool-remove.png');
}

.loading__percentage {
  font-size: 1.2em;
  margin: 1em 0;
}

/** PROGRESS BAR **/
.progress { 
    height: 20px;
    position: relative;
    margin: 1em 0;
    background: #555;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 7px;
}
.progress__span {
  display: block;
  height: 100%;
  width: 0;
     -webkit-border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
         -moz-border-radius-topright: 8px;
      -moz-border-radius-bottomright: 8px;
             border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
      -webkit-border-top-left-radius: 20px;
   -webkit-border-bottom-left-radius: 20px;
          -moz-border-radius-topleft: 20px;
       -moz-border-radius-bottomleft: 20px;
              border-top-left-radius: 20px;
           border-bottom-left-radius: 20px;
  background-color: rgb(43,194,83);
  position: relative;
  overflow: hidden;
}
.meter--yellow > span {
  background-color: #ffc107;
}

.meter--orange > span {
  background-color: #ff5722;
}
.meter--red > span {
  background-color: #f44336;
}



@media only screen and (max-width: 767px) {
  .flex,
  .board {
    flex-direction: column;
  }
}
@media only screen and (max-width: 479px) {
}
