* {
  box-sizing: border-box; 
}

html, body {
  border: none;
  padding: 0;
  margin: 0;
  min-height: 100vh;
}

html,
body,
td,
input,
select,
textarea,
button {
  font-size: 100%;
  color: #333;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}
.flex--wrap {
  flex-wrap: wrap;
}
.flex--justify-center {
  justify-content: center;
}
.flex--align-center {
  align-items: center;
}
.flex__half {
  flex-basis: 50%;
}

#error {
  display: none;
}
.error {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em;
  background: #f44336;
  color: #fff;
}

.boxed {
  max-width: 1600px;
  margin: auto;
}
.hidden,
.showJQlink {
  display: none;
}
.text-center {
  text-align: center;
}
.pointer {
  cursor: pointer;
}

.board {

}
.map-container {
  flex-grow: 1;
  flex-basis: 70%;
}
.sidebar {
  flex-grow: 1;
  flex-basis: 30%;
  background: #f9f9f9;
}

.board-command {
  cursor: pointer;
}
.board-command:hover {
  text-decoration: underline;
}

.info-building__image {
  max-width: 128px;
  max-height: 128px;
}
.info-resource__image {
  max-width: 24px;
  max-height: 24px;
}

.tools{
  display: flex;
  flex-wrap: wrap;
}
.tool {
  width: 32px;
  height: 32px;
  border: 2px solid #ccc;
  margin: 2px;
  background-color: #eeeeee;
  cursor: pointer;
}
.tool--selected {
  background-color: #2196f3;
  border-color: #1976d2;
  color: white;
}



@media only screen and (max-width: 767px) {
  .flex {
    flex-direction: column;
  }
}
@media only screen and (max-width: 479px) {
}
